<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324989517653-4nm0freao89qgf5lcva2699reu270g9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324989517653-4nm0freao89qgf5lcva2699reu270g9k</string>
	<key>API_KEY</key>
	<string>AIzaSyA_n3HgSTge0eef2HbVUMqIfL0qc2cbqJs</string>
	<key>GCM_SENDER_ID</key>
	<string>324989517653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseCloudMessaging</string>
	<key>PROJECT_ID</key>
	<string>fir-cloud-messaging-fa717</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-cloud-messaging-fa717.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324989517653:ios:e985adbe79237522a339dc</string>
</dict>
</plist>